<div class="container">
    <form action="/test/gen_param" method="post">
        <div class="form-group">
            <label for="subjecttile">Subject:</label>
            <input type="text" class="form-control" id="subjecttitle" name="subjecttitle" placeholder="Subject goes here">
            {{!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>--}}
        </div>
        <div class="form-group">
            <label for="topictitle">Topic:</label>
            <input type="text" class="form-control" id="topictitle" name="topictitle" placeholder="Topic goes here">
        </div>
        <div class="form-group">
            <label for="questionnum">Number of questions:</label>
            <input type="text" class="form-control" id="questionnum" name="questionnum" placeholder="Number of questions goes here">
        </div>
        <button class="btn btn-outline-primary btn-block" type="submit" style="margin-top: 3rem">Create</button>
    </form>
</div>