<div class="container">
    <button onclick="">Done</button>
    <form action="#" method="get">
        <input type="text" name="" id="">
        <input type="text" name="" id="">
        <input type="text" name="" id="">
        <input type="text" name="" id="">
        <input type="text" name="" id="">
    </form>
</div>