<div>
    <h1>Progress {{ progress }} / {{ length }}</h1>
    <p>Question: {{ id }}</p>
    <p>Difficulty: {{ diff }}</p>
    <form action="/test/go" method="post">
    <button type="submit">Next</button>
    </form>
</div>